.container{

}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

#file{
    max-width:400px;
    display: inline-block;
}

.blink-text {
    animation: blink 0.5s step-end infinite;
}



